{% extends 'base.html.twig' %}

{% block title %}All Article{% endblock %}
{% block body %}
    <div class="container-fluid col-6 text-center">
        <div class="form-group mt-3">
            <li class="form-control">Name of article : {{ article.name }}</li>
        </div>
        <div class="form-group">
            <img width="240" height="340" src="{{ article.imageUrl }}" alt=""/>
        </div>
        <div class="form-group">
            <li class="form-control">Date : {{ article.createdAt|date }}</li>
        </div>
        <div class="form-group">
            <li class="form-control">Commentaire : {{ article.content|nl2br }}</li>
        </div>
        <div class="form-group">
            <li class="form-control">Firstname : {{ article.user.firstname }}</li>
        </div>
    </div>
{% endblock %}