{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <h1>Hello {{ controller_name }}! ✅🤩</h1>

    <h1>Article</h1>
    <ul id='dropdown1' class='dropdown-content'>
        {% for artcile in articles %}
            <li>{{ artcile.name }}</li>
            <li>{{ artcile.createdAt|date }}</li>
            <li>{{ artcile.content|nl2br }}</li>
            <img width="240" height="340" src="{{ artcile.imageUrl }}" alt=""/>
        {% endfor %}
    </ul>
    <h1>Articles Published</h1>
    <ul>
        {% for artcile in articlePublished %}
            <li>{{ artcile.name }}</li>
            <li>{{ artcile.createdAt|date }}</li>
            <li>{{ artcile.content|nl2br }}</li>
            <img width="240" height="340" src="{{ artcile.imageUrl }}" alt=""/>
        {% endfor %}
    </ul>
    <h1>Article Not Published</h1>
    <ul>
        {% for artcile in articleNotPublished %}
            <li>{{ artcile.name }}</li>
            <li>{{ artcile.createdAt|date }}</li>
            <li>{{ artcile.content|nl2br }}</li>
            <img width="240" height="340" src="{{ artcile.imageUrl }}" alt=""/>
        {% endfor %}
    </ul>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/app/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
